textarea{
    width:100%;
    min-height:200px;
    font-family: 'Satisfy', cursive;
    color: black;
    font-size: 25px;
}
.fromstyle{
    padding: 25px 25px 25px 25px;
    background: rgba( 255, 255, 255, 0.10 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 25px 25px 25px 25px;
   
}

body{
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Satisfy', cursive;
    color: #ffffff;

}
.container{
   padding: 100px 100px 100px 100px;

}
.text{
    outline: none;
    background-color: #a8e4f7;
    opacity: 0.6;
    resize: vertical;
}
.button{
  background-color: #3e66de; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  align-items: center;
}
