* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center {
    padding-left: 300px;
    padding-right: 300px;
}

nav>.details {
    display: flex;
    height: 30px;
    width: 100%;
    background-color: #1B0F37;
    font-size: 12px;
    color: #e7e7e7be;
    justify-content: space-between;
}


nav>.details>ul {
    display: flex;
}

nav>.details>ul>li {
    list-style: none;
    padding: 5px;
}

nav>.details>.d1 {

    float: left;
}

nav>.details>.d2 {
    float: right;

}

.menu {
    height: 60px;
    background-color: #ffffff;
    font-size: 18px;
    width: 100%;
}

nav>.menu>ul>li {
    list-style: none;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;

}

nav>.menu>ul {
    display: flex;
    padding-left: 150px;

}

.logo {
    position: absolute;
    width: 100px;
    height: 100px;
}

.logo>img {
    width: 100%;
    float: left;
}

nav>.menu>ul>li:hover {
    color: #ffffff;
    background-color: #1B0F37;
}

nav>.menu>ul>li:nth-child(1) {
    color: #ffffff;
    background-color: #1B0F37;
}

.poster {
    display: flex;
    width: 100%;
    height: 90%;
}

.posterpic {
    width: 600px;
    overflow: hidden;
    height: 700px;
    padding-top: 50%;
    padding-left: 5px;
    padding-right: 5px;
    color: #ffffff;
}

#pic1 {
    content: " ";
    background: linear-gradient(0deg, rgba(122, 21, 151, 1) 0%, rgba(255, 255, 255, 0) 33%, rgba(0, 212, 255, 0) 100%), url('portrait-happy-young-woman-eating-chips-potato-69160203.jpg');
}

#pic2 {
    content: " ";
    background: linear-gradient(0deg, rgba(255, 106, 0, 1) 0%, rgba(255, 255, 255, 0) 33%, rgba(0, 212, 255, 0) 100%), url('portrait-happy-young-woman-eating-chips-potato-69160203.jpg');
}


#pic3 {
    content: " ";

    background: linear-gradient(0deg, rgba(24, 136, 208, 1) 0%, rgba(255, 255, 255, 0) 33%, rgba(0, 212, 255, 0) 100%), url('portrait-happy-young-woman-eating-chips-potato-69160203.jpg');
}